/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(0, 84, 41);
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background: goldenrod;
    color: #016f32;
    width: 150px;
    height: 30px;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    
}