body {
    margin: 0;
    padding: 0;
    text-align: center;
    /* background: linear-gradient(white, gray); */
    height: 100vh;
    color: #e98a1d;

}

button{
    background-color: #e98a1d;
    color: white;
    border: none;
    padding-top: 12px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;  
}


.container{
    width: 100%;
    height: 60px;
    padding: 30px 0;
    font-size: 50px;
    margin: 0;
    border-color: #e98a1d;
}
