body{
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-color: green;
    
}

button{
    background-color: green;
    color: white;
    margin-top: 10px;
    font-size: medium;
    padding: 10px 20px;
    border: none;
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
margin-top: 5px;
}

li a{
    color: green;
}